[importlinter]
root_packages =
    app

[importlinter:contract:shared-not-depend-on-modules]
name = shared not depend on modules
type = forbidden
source_modules =
    app.shared
forbidden_modules =
    app.modules

[importlinter:contract:organizations-clean-architecture]
name = Clean Architecture - organizations module
type = layers
layers =
    app.modules.organizations.presentation
    app.modules.organizations.infrastructure
    app.modules.organizations.application
    app.modules.organizations.domain
exhaustive = false

[importlinter:contract:setup-clean-architecture]
name = Clean Architecture - setup module
type = layers
layers =
    app.modules.setup.presentation
    app.modules.setup.application
